.about-us-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  
  width: 90%; 
  max-width: 650px; 
  color: var( --text-on-dark);
}

.about-us-container p {
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: var(--text-on-dark);
}