.iconbutton {
  margin: 2rem;
  width: 40px;
 
  right: 0;
}

.iconbutton svg {
  width: 40px;
}

#go-home svg path {
  fill: var(--btn-bg);
}

#go-home:hover svg path {
  fill: var(--btn-bg-hover);
}
